:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --primary-bgc: #e5e5e5;
  --section-bgc: #2f303a;
  --header-bgc: #ffffff;
  --footer-bgc: #2f303a;
  --hero-text: #ffffff;
  --button-bg-hover: #188ce8;
  --bg-team: #f5f4fa;
}

body {
  margin-top: 0;
  font-family: Roboto, sans-serif;
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
}

ul {
  list-style: none;
}

/* nav */

.menu-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  letter-spacing: 0.03em;
}

.menu .menu-list.current {
  color: var(--accent-color);
}

.logoweb {
  color: var(--accent-color);
}
.menu {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;

  letter-spacing: 0.02em;
}

.menu li {
  display: inline;
}

.menu-contact li {
  display: inline;
}

.link {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  font-style: normal;
  letter-spacing: 0.02em;
}

/* hero */

.main-section {
  background: var(--section-bgc);
}

.button {
  font-family: Roboto, sans-serif;
  color: var(--hero-text);
  background: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  text-align: center;
  letter-spacing: 0.06em;

  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.button:hover {
  color: var(--button-bg-hover);
  background: var(--hero-text);
}

.section-title {
  color: var(--hero-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
}

/* features */

.feature-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* section-doin */

.doin-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Team */

.team {
  background: var(--bg-team);
}

.title-team {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-name {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.profession {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

/* footer */

.footer {
  background: var(--footer-bgc);
}
.address {
  color: var(--hero-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.link-ft {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-studio {
  color: var(--hero-text);
}

/* Portfolio */

.button-filter {
  color: var(--primary-text-color);
  background: var(--bg-team);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.03em;
}

.button-filter:hover {
  color: var(--hero-text);
  background: var(--accent-color);
}

.name-card {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.text-card {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
